<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestVisitors">

    <insert id="insertVisitor" parameterType="hashmap">
        INSERT INTO VISITORS (PK_VISITORS, WRITER_ID, PK_BOARDS)
        VALUES (#{pk_visitors}, #{writer_id}, #{pk_boards})
    </insert>

    <select id="selectVisitorById" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM VISITORS WHERE PK_VISITORS = #{pk_visitors}
    </select>

    <update id="updateVisitor" parameterType="hashmap">
        UPDATE VISITORS 
        SET WRITER_ID = #{writer_id}, PK_BOARDS = #{pk_boards}
        WHERE PK_VISITORS = #{pk_visitors}
    </update>

    <delete id="deleteVisitor" parameterType="hashmap">
        DELETE FROM VISITORS WHERE PK_VISITORS = #{pk_visitors}
    </delete>
</mapper>
